PORT=5003
MONGO_URI=mongodb+srv://lokeshbomma94_db_user:12345@cluster0.ecp4x4b.mongodb.net/?appName=Cluster0
JWT_SECRET=mysecretkey123456789098765432111
JWT_EXPIRE=7d
NODE_ENV=development
CLIENT_URL=http://localhost:5173

# Cloudinary
CLOUDINARY_CLOUD_NAME=dei54k16l
CLOUDINARY_API_KEY=586967133479882
CLOUDINARY_API_SECRET=ZcNJrJ05Ihw36mqBLqmkIm9qxG8

# Email (Gmail SMTP)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=lokeshbomma94@gmail.com
EMAIL_PASS=Delete@12345
EMAIL_FROM=RentEase <lokeshbomma94@gmail.com>
